/*Universal Styling*/
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-size:4vw;
}
/*Background Styling and Animation*/
body
{
    border: 10px solid rgb(12, 6, 31);
    background: linear-gradient(35deg, #9dc8d3, #072c16);
    min-height:100vh;
    box-shadow: inset 0 0 500px rgba(230, 30, 30, 0.5);
    animation: animate 2s linear infinite;
    display:flex;
    justify-content: center;
    align-items: center;
}
/*Setting Main Containers width and padding*/
.main-container{
    padding:1%;
    width:80%;
    color:yellow;
}
/*Animating the border of the clock*/
.digital-clock-border{
    padding:1%;
    border-radius: 10px;
    border: 1px solid darkblue;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    animation: animate 3s linear infinite;
}
/*Styling digital clock container and its background*/
.digital-clock{
    padding:1%;
    background: black;
    border-radius: 10px;
}
/*Aligining the Content and Items of time box*/
.time{
    
    display:flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}
/*Aligning and styling the heading of Time*/
.time-heading{
    margin:1%;
    text-align: center;
    padding:2%;
}
/*Aligning the three containers of hours, minutes and seconds*/
.hours-container, .minutes-container, .seconds-container{
    margin:1%;
    padding:1%;
    display:flex;
    flex-direction: column;
    align-items: center;

} 
/*Setting margin between the definitions and time*/
.hours-container span, .hours-container h5, .minutes-container span,.minutes-container h5, .seconds-container span, .seconds-container h5
{
    margin:1%;
}
/*Styling colons*/
.colons{
    margin:1%;
    display:flex;
    align-items: center;
}

/*Animation*/
@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

/*Media Queries*/
@media (max-width:443px)
{
    *{
        font-size:6vw;
    }
    .main-container{
        width:100%;
    }
}
