/*Universel Selector Styling*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
/*Body Styling*/
body{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(12, 6, 31);
    background: linear-gradient(35deg, #9dc8d3, #072c16);
    min-height:100vh;
}
/*Main Container Styling*/
.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    min-height: 50vh;
    color:#fff;
}
/*Digital Clock Border Styling*/
.digital-clock-border{
    width:80%;
    border-radius:10px;
    display:flex;
    border:1px solid darkblue;
    justify-content: center;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    animation: animate 3s linear infinite;
}
/*Digital Clock Container Styling*/
.digital-clock{
    width:95%;
    height:20em;
    background: black;/*linear-gradient(35deg, #429cb3, #023618);*/
    border-radius:10px;
    margin:2%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    opacity: 1;
    backdrop-filter: blur(20px) ;
}
/*Time Heading Styling*/
.time-heading{
    text-align: center;
    padding:1%;
    margin: 2%;
    border-radius:10px;
    width:80%;
    height:20%;
    font-weight: bolder;
    font-size:2em;
}
/*Time Container Styling*/
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3%;
    width:70%;
    height:30%;
    background:rgba(0,0,0,1);/* rgba(0,0,0,0.6);*/
    border-radius:20px;
    
}
/*Time Containers Styling*/
.hours-container, .minutes-container,.seconds-container{
    display:flex;
    flex-direction: column;
}
/*Styling of Time Text*/
.time span{

    text-align: center;
    font-size:3em;
    padding:3%;
    width:100px;
    margin:1%;
}
/*Styling of Time Text heading*/
.time h5
{
    width:100px;
    text-align: center;
}
/*Animations*/
@keyframes animate{
    100%{
        filter:hue-rotate(360deg);
    }
}
/*Media Queries*/
@media screen and (max-width: 768px) {
    /*Styling of Time Text*/
    .time span{

        text-align: center;
        font-size:20px;
    }
    /*Styling of Time Text heading*/
    .time h5
    {
        width:100px;
        text-align: center;
        font-size:x-small;
    }
    /*Time Container Styling*/
    .time{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:100%;
        border:none;
    }
   
}